/* Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient( to top left, #336666, #181d21)
}

.container {
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
}

.main-wrap {
  box-sizing: border-box;
  min-height: 1800px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 50px;
  transition-duration: 1s;
}

.earpods {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  height: 200px;
}

.earpods-f {
  position: fixed;
  bottom: 50px;
}

.earpods-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.earpods__headphones {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.earpods__headphones-left {
  transform: translateY(-95px);
  position: absolute;
  width: 70px;
  left: -12px;
  transition-duration: 3ms;
}

.earpods__headphones-right {
  transform: translateY(-130px);
  width: 100px;
  position: absolute;
}

.earpods__case {
  width: 180px;
  z-index: 1;
}

.earpods__case-cover {
  width: 170px;
}

/* More */
.more {
  width: 100%;
  height: 1000px;
}